
<h4 ng-transclude>
  <!-- transclude the list title -->
</h4>

<accordion close-others="true">
  <accordion-group ng-repeat="node in list">
    <accordion-heading>
      {{node.name}}
      <span ng-if="$last && node.name!='Ethernet'" class="glyphicon glyphicon-minus-sign pull-right" 
        ng-click="delNode($index)"></span>
    </accordion-heading>
    <div class="input-group" ng-repeat="field in node.fields">
      <span class="input-group-addon" style="width:60px">{{field.name}}</span>
      <input type="text" class="form-control" placeholder="{{field.value}}">
    </div>
  </accordion-group>
</accordion>

<div class="input-group">
  <select class="form-control" ng-model="nodeType">
    <option ng-repeat="name in options">{{name}}</option>
  </select>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="addNode()">
      Add
    </button>
  </span>
</div>

