.ext-pack-header {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px
}
.ext-pack-header-vis {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
}
.ext-container {
    display: table;
}
.ext-row {
    display: table-row;
}
.ext-left, .ext-middle {
    display: table-cell;
    position: relative;
}
.ext-connect {
    position: absolute;
    border: 2px solid #c0224e;
    border-width: 0 0 2px 2px;
    right: 0;
    top: -12px;
}
.ext-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
