/* Styles go here */

*{

text-align: center;

}
.color-prim {
  background-color: #C0224E;
}

.color-sec {
  background-color: #42A0BA;
}
.blended_grid{
display : block;
width : 900px;
overflow : auto;
margin : 60px auto 0 auto;
}
.leftColumn{
//background-color : rgba(0, 0, 0, 0.1);
float : left;
clear : none;
height : 700px;
width : 360px;
}
.actionGroup{
	float: left;
	width: 66.66%;
}
.instructions{
//background-color : rgba(0, 0, 0, 0.7);
float : left;
clear : none;
height : 50px;
width : 100%;
}
.actionlist{
//background-color : rgba(0, 0, 0, 0.3);
float : left;
clear : none;
height : 190px;
width : 50%;
}
.actionset{
//background-color : rgba(0, 0, 0, 0.2);
float : left;
clear : none;
height : 190px;
width : 50%;
}
.sim-exec-connection{
	transition: all linear 1s;
margin: 0 auto;
/* position: relative; */
/* left: 6px; */
width: 75%;
border: 2px solid #c0224e;
border-width: 0 0 2px 2px;

float: right;
}
.instructionset{
//background-color : rgba(0, 0, 0, 0.3);
float : left;
clear : none;
height : 90%;
width : 33.33%;
}
.topBanner{

float : left;
clear : none;
height : 50px;
width : 540px;
}
.righttable{
 
float : right;
clear : none;
height : 50px;
width : 200px;
}
.tblright{
  
  width:100%;
  height: 100%;
  margin:2px;


}

table, td, th{
	border-width: 1px;
	 color:white;
 text-align: center;
 border: 1px solid white;
}

.leftContent{
//background-color : rgba(0, 0, 0, 0.3);
float : left;
clear : none;
height : 500px;
width : 330px;
}
.rightContent{
//background-color : rgba(0, 0, 0, 0.4);
float : left;
clear : none;
height : 150px;
width : 540px;
}
.ractionset{
background-color : rgba(0, 0, 0, 0.4);


}
.bottomBanner{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 300px;
width : 540px;
}


.example-animate-container {
	-moz-border-radius: 4px;
  border-radius: 4px;
    background:lightgrey;
    color:white;
    //float : center;
   //border:1px solid black;
    list-style:none;
    margin:0 ;
   // padding:0 10px;
    height:160px;
    width:90%;
    position:relative;
   -webkit-transform: rotate(180deg);
   
  }
.right-animate-container {
	-moz-border-radius: 4px;
	float : right;
  border-radius: 4px;
    background:lightgrey;
    color:white;
    //float : center;
   //border:1px solid black;
    list-style:none;
    margin:auto ;
   // padding:0 10px;
    height:120px;
    width:120px;
    //position:relative;
   -webkit-transform: rotate(90deg);
   
  }
  .animate-repeat {
    
   // background:lightblue;
   // border:1px solid black;
    //list-style:none;
    box-sizing:border-box;
     display : block;
    
    position: relative;
    height : 25px;
    
    -webkit-transform: rotate(180deg);
  }
 .right-animate-repeat {
    
   // background:lightblue;
   // border:1px solid black;
    //list-style:none;
    box-sizing:border-box;
     display : block;
    
    position: relative;
    height : 25px;
    
   
  }
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
  }
.animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
  }

  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
  }

  .right-animate-repeat.ng-move,
  .right-animate-repeat.ng-enter,
  .right-animate-repeat.ng-leave {
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
  }
.right-animate-repeat.ng-leave.ng-leave-active,
  .right-animate-repeat.ng-move,
  .right-animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
  }

  .right-animate-repeat.ng-leave,
  .right-animate-repeat.ng-move.ng-move-active,
  .right-animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
  }