/* Styles go here */

.sim-ins-color-prim
{
    background-color: #c0224e;
}
.sim-ins-color-sec
{
    background-color: #42a0ba;
}
.sim-exec-blended_grid
{
    font-weight: bold;
    font-style: italic;

    display: block;
    overflow: auto;

    width: 900px;
    margin: 60px auto 0 auto;

    text-align: center;
}
.sim-exec-leftColumn
{
    float: left;
    clear: none;

    width: 360px;
    height: 700px;
}
.sim-ins-actionGroup
{
    float: left;

    width: 66.66%;
}
.sim-ins-instructions
{
    float: left;
    clear: none;

    width: 60%;

    color: white;
    border-radius: 4px;
    background-color: #42a0ba;
}
.sim-ins-actionlist
{
    float: left;
    clear: none;

    width: 50%;
    height: 190px;
}
.sim-ins-actionset
{
    float: left;
    clear: none;

    width: 50%;
    height: 190px;
}
.sim-exec-connection
{
    float: right;

    width: 75%;
    margin: 0 auto;

    -webkit-transition: all ease-out .5s;
            transition: all ease-out .5s;

    border: 2px solid #c0224e;
    border-width: 0 0 2px 2px;
}
.sim-ins-instructionset
{
    float: left;
    clear: none;

    width: 33.33%;
    height: 90%;
}
.sim-exec-topBanner
{
    float: left;
    clear: none;

    width: 540px;
    height: 50px;
}
.sim-exec-righttable
{
    float: right;
    clear: none;

    width: 200px;
    height: 50px;
}
.sim-exec-tblright
{
    width: 100%;
    height: 100%;
    margin: 2px;
}
.sim-exec-tblright table,
.sim-exec-tblright td,
.sim-exec-tblright th
{
    font-weight: bold;
    font-style: italic;

    width: 50%;

    text-align: center;

    color: white;
    border: 1px solid white;
    border-width: 1px;
}
.leftContent
{
    float: left;
    clear: none;

    width: 330px;
    height: 500px;
}
.sim-exec-rightContent
{
    font-weight: bold;
    font-style: italic;

    float: left;
    clear: none;

    width: 540px;
    height: 150px;
}
.ractionset
{
    background-color: rgba(0, 0, 0, .4);
}
.sim-exec-bottomBanner
{
    float: left;
    clear: none;

    width: 540px;
    height: 300px;
}
.sim-ins-animate-container
{
    font-weight: bold;
    font-style: italic;

    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column-reverse;

    width: 90%;
    height: 160px;
    margin: 0;

    list-style: none;

    color: white;
    border-radius: 4px;
    background: lightgrey;

    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
}
.sim-exec-right-animate-container
{
    font-weight: bold;
    font-style: italic;

    float: right;

    width: 120px;
    height: 120px;
    margin: auto;

    list-style: none;

    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);

    color: white;
    border-radius: 4px;
    background: lightgrey;
}
.sim-ins-animate-repeat
{
    display: block;

    box-sizing: border-box;
    height: 25px;
}
.sim-exec-right-animate-repeat
{
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 25px;
}
.sim-ins-animate-repeat.ng-move,
.sim-ins-animate-repeat.ng-leave
{
    -webkit-transition: all ease-out .5s;
            transition: all ease-out .5s;
}
.sim-ins-animate-repeat.ng-leave.ng-leave-active,
.sim-ins-animate-repeat.ng-move
{
    max-height: 0;

    opacity: 0;
}
.sim-ins-animate-repeat.ng-leave,
.sim-ins-animate-repeat.ng-move.ng-move-activee
{
    max-height: 30px;

    opacity: 1;
}
.sim-exec-right-animate-repeat.ng-move,
.sim-exec-right-animate-repeat.ng-enter,
.sim-exec-right-animate-repeat.ng-leave
{
    -webkit-transition: all ease-out .5s;
            transition: all ease-out .5s;
}
.sim-exec-right-animate-repeat.ng-leave.ng-leave-active,
.sim-exec-right-animate-repeat.ng-move,
.sim-exec-right-animate-repeat.ng-enter
{
    max-height: 0;

    opacity: 0;
}
.sim-exec-right-animate-repeat.ng-leave,
.sim-exec-right-animate-repeat.ng-move.ng-move-active,
.sim-exec-right-animate-repeat.ng-enter.ng-enter-active
{
    max-height: 30px;

    opacity: 1;
}
