

.PortText {
  font-size: 10px;
  fill       : white;
}
.Switch {
  background-color: lightgrey;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  display: block;
}

.PortColorA {
  fill: #C0224E;
}

.PortColorB {
  fill: #42A0BA;
}

