<div class="ctx-key-grid">
    <div>
        <div>
            <div >
                <div class="ctx-key-context">Buffer</div>
                <fg-packet-buffer name="SimCtrl.view.packet.name"></fg-packet-buffer>

            </div>
        </div>
    </div>
    <div>
        <div class="ctx-key-leftColumn">&nbsp;</div>
        <div class="ctx-key-connector ctx-key-vis">&nbsp;</div>
        <div class="ctx-key-rightColumn ctx-key-vis">
            <div style="height:60px">&nbsp;</div>
            <fg-context-key ctx="SimCtrl.view" header="true"></fg-context-key>

        </div>
    </div>
</div>
