   <div>
    <div class="sim-exec-topBanner">
        <div class="sim-exec-righttable">
            <table class="sim-exec-tblright">
                <tr>
                    <td class="sim-ins-color-prim">table : {{view.table}}</td>
                    <td class="sim-ins-color-sec">buffer : {{view.buffer}}</td>
                </tr>
                <tr>
                    <td class="sim-ins-color-sec">queue : {{view.queue}}</td>
                    <td class="sim-ins-color-prim">meter : {{view.meter}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="sim-exec-rightContent">
        <div>&nbsp;</div>
        <div style="width:100%; text-align: right;
    clear: none;">Action Set</div>
        <div class="sim-exec-right-animate-container">
            <div class="sim-exec-right-animate-repeat" ng-class="(view.actionSet.length  % 2)?($even?'sim-ins-color-prim':'sim-ins-color-sec'):($odd?'sim-ins-color-prim':'sim-ins-color-sec')" ng-repeat="action in view.actionSet" tooltip="{{action.value}}" tooltip-append-to-body="true">
                {{action.protocol +'('+action.field+action.op+')'}}
            </div>
        </div>
    </div>
    <div class="sim-exec-bottomBanner">
        <fg-packet-view packet="packet" width="100%"></fg-packet-view>
    </div>
    </div>