<div>
    <div class="sim-ins-actionGroup">
    <div ng-show="instructionList.length" style="margin-right: auto; margin-left: auto;">Instructions</div>
    <div class="sim-ins-instructions">{{instructions()}}</div>
        <div class="sim-ins-actionlist">
            <div style="height:10px"></div>
            <div ng-show="applyActionList.actions.length" style="margin-right: auto; margin-left: auto;">Action List</div>
            <div ng-show="applyActionList.actions.length" class="sim-ins-animate-container">

                <div class="sim-ins-animate-repeat"
                     ng-class="(applyActionList.actions.length  % 2)?($even?'sim-ins-color-prim':'sim-ins-color-sec'):($odd?'sim-ins-color-prim':'sim-ins-color-sec')"
                     ng-repeat="action in applyActionList.actions" tooltip="{{action.tip}}"
                     tooltip-append-to-body="true">
                    {{action.value1 +'('+action.value2+')'}}
                </div>
            </div>
        </div>
        <div class="sim-ins-actionset">
            <div style="height:10px"></div>
            <div ng-show="writeActionSet.actions.length" style="margin-right: auto; margin-left: auto;">Action Set</div>
            <div ng-show="writeActionSet.actions.length" class="sim-ins-animate-container">
                <div class="sim-ins-animate-repeat"
                     ng-class="(writeActionSet.actions.length  % 2)?($even?'sim-ins-color-prim':'sim-ins-color-sec'):($odd?'sim-ins-color-prim':'sim-ins-color-sec')"
                     ng-repeat="action in writeActionSet.actions" tooltip="{{action.tip}}"
                     tooltip-append-to-body="true">
                    {{action.value1 +'('+action.value2+')'}}
                </div>
            </div>
        </div>
        <div ng-style="{'height': 16 + (6 - insSetListApplyIdx )* 25  , 'border-width' :  (applyActionList && applyActionList.actions.length>0) ? '0 0 2 2':'0'}"
             class="sim-exec-connection">
            <div ng-style="{'height': 16 + (6 - insSetListWriteIdx )* 25,'width':'35%','border-width' :  (writeActionSet && writeActionSet.actions.length>0 )? '0 0 2 2':'0'}"
                 class="sim-exec-connection"></div>
        </div>
    </div>
    <div class="sim-ins-instructionset">
        <div style="height:230px"></div>
        <div style="margin-right: auto; margin-left: auto;">Instruction Set</div>
        <div class="sim-ins-animate-container">
            <div class="sim-ins-animate-repeat"
                 ng-class="(instructionList.length  % 2)?($even?'sim-ins-color-prim':'sim-ins-color-sec'):($odd?'sim-ins-color-prim':'sim-ins-color-sec')"
                 ng-repeat="ins in instructionList"  tooltip="{{ins.tip}}" tooltip-append-to-body="true">
                {{ins.name}}
            </div>
        </div>
    </div>
</div>
