<div>
    <div class="sim-ins-actionGroup">Instructions</div>
    <div class="sim-ins-instructions">{{instructions()}}</div>
    <div class="sim-ins-actionGroup">

        <div class="sim-ins-actionlist">
            <div style="height:10px"></div>
            <div ng-show="applyActionList">Action List&nbsp;&nbsp;</div>
            <div ng-show="applyActionList" class="sim-ins-animate-container">

                <div class="sim-ins-animate-repeat"
                     ng-class="(applyActionList.action.length  % 2)?($even?'sim-ins-color-prim':'sim-ins-color-sec'):($odd?'sim-ins-color-prim':'sim-ins-color-sec')"
                     ng-repeat="action in applyActionList.actions" tooltip="{{action.tip}}"
                     tooltip-append-to-body="true">
                    {{action.value1 +'('+action.value2+')'}}
                </div>
            </div>
        </div>
        <div class="sim-ins-actionset">
            <div style="height:10px"></div>
            <div ng-show="writeActionSet">Action Set&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div ng-show="writeActionSet" class="sim-ins-animate-container">
                <div class="sim-ins-animate-repeat"
                     ng-class="(writeActionSet.actions.length  % 2)?($even?'sim-ins-color-prim':'sim-ins-color-sec'):($odd?'sim-ins-color-prim':'sim-ins-color-sec')"
                     ng-repeat="action in writeActionSet.actions" tooltip="{{action.tip}}"
                     tooltip-append-to-body="true">
                    {{action.value1 +'('+action.value2+')'}}
                </div>
            </div>
        </div>
        <div ng-style="{'height': 17 + (6 - insSetListApplyIdx )* 25  , 'border-width' : view.instructionSet.length > 0 && applyActionList ? '0 0 2 2':'0'}"
             class="sim-exec-connection">
            <div ng-style="{'height': 17 + (6 - insSetListWriteIdx )* 25,'width':'35%','border-width' : view.instructionSet.length > 0 && writeActionSet ? '0 0 2 2':'0'}"
                 class="sim-exec-connection"></div>
        </div>
    </div>
    <div class="sim-ins-instructionset">
        <div style="height:190px"></div>
        <div >Instruction Set&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="sim-ins-animate-container">
            <div class="sim-ins-animate-repeat"
                 ng-class="(view.instructionSet.length  % 2)?($even?'sim-ins-color-prim':'sim-ins-color-sec'):($odd?'sim-ins-color-prim':'sim-ins-color-sec')"
                 ng-repeat="ins in view.instructionSet"  tooltip="{{instructionsTooltip(ins)}}" tooltip-append-to-body="true">
                {{ins.name}}
            </div>
        </div>
    </div>
</div>
