
<br>

<div class="row">
    
  <div class="col-md-2">
    <fg-list on-add="addTrace" on-del="delTrace" on-set="setTrace"
             on-init="getTraces">
      Traces
      <div class="error" ng-show="errorMsg.length">
        {{errorMsg}}
      </div>
    </fg-list>
  </div>

  <div class="col-md-10" ng-show="trace">
    <h3>Select Switch</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon">Switch</span>
          <select class="form-control" ng-model="resources.deviceName"
            ng-changed="selectSwitch()">
            <option ng-repeat="name in resources.devices">{{name}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-7">
        <switch-view data="trace.device.ports"></switch-view>
      </div>
    </div>
    <hr>
    <h3>Build Trace</h3>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-8">
        <!-- Control for editing the input packet trace -->
        <input-trace pkt-events="trace.events" resources="resources"
                 log-ports="trace.device.ports.ports"
                 phy-ports="trace.device.ports.ports" add-packet="addPacket">
        </input-trace>
      </div>
    </div>
  </div>

</div>
