
<br>

<div class="row">
    
  <div class="col-md-2">
    <fg-list on-add="SimSetupCtrl.addTrace" on-del="SimSetupCtrl.delTrace" on-set="SimSetupCtrl.setTrace"
             on-init="SimSetupCtrl.getTraces">
      Traces
      <div class="error" ng-show="errorMsg.length">
        {{errorMsg}}
      </div>
    </fg-list>
  </div>

  <div class="col-md-10" ng-show="SimSetupCtrl.trace">
    <h3>Select Switch</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon">Switch</span>
          <select class="form-control" ng-model="SimSetupCtrl.resources.deviceName"
            ng-change="SimSetupCtrl.selectSwitch()">
            <option ng-repeat="name in SimSetupCtrl.resources.devices">{{name}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-7">
        <switch-view data="SimSetupCtrl.trace.device.ports"></switch-view>
      </div>
    </div>
    <hr>
    <h3>Build Trace</h3>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-8">
        <!-- Control for editing the input packet trace -->
        <input-trace pkt-events="SimSetupCtrl.trace.events" resources="SimSetupCtrl.resources"
                 log-ports="SimSetupCtrl.trace.device.ports.ports"
                 phy-ports="SimSetupCtrl.trace.device.ports.ports" add-packet="SimSetupCtrl.addPacket">
        </input-trace>
      </div>
    </div>
  </div>

</div>
