
<br>

<div class="row">
  <div class="col-md-4 col-md-offset-1">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:110px">Datapath ID</div>
        <input class="form-control" type="text" style="width:200px"
               ng-model="datapath.id">
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="datapath.ip_reassembly">
          IP Reassembly
      </label>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:110px">Buffer Count</div>
        <input class="form-control" type="text" style="width:200px"
               ng-model="datapath.n_buffers">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:110px">Table Count</div>
        <input class="form-control" type="text" style="width:200px"
               ng-model="datapath.n_tables">
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px">
          Manufacturer Description
        </div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="datapath.mfr_desc"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px">
          Hardware Description
        </div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="datapath.hw_desc"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px">
          Software Description</div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="datapath.sw_desc"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px">Serial Number</div>
        <input class="form-control" type="text" style="width:300px"
               ng-model="datapath.serial_num">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px">
          Dataplane Description
        </div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="datapath.dp_desc"></textarea>
      </div>
    </div>

  </div>
</div>

