
<div class="row">
  <accordion>
  <div class="col-md-4">

      <accordion-group>
        <accordion-heading>
        </accordion-heading>
          <fg-label-input>
          </fg-label-input>
      </accordion-group>
      
      <accordion-group>
        <accordion-heading>
          Datapath
        </accordion-heading>
        stuff
      </accordion-group>

  </div>

  <div class="col-md-4">
      <accordion-group>
        <accordion-heading>
          Datapath
        </accordion-heading>
        stuff
      </accordion-group>
  </div>
  <div class="col-md-4">
  </div>
  </accordion>
</div>

