
<br>

<div class="row">
  <div class="col-md-6 text-center">

    <img src="images/switch.png" alt="Responsive image">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Port Count</div>
        <input class="form-control" type="text" ng-model="portCount"
               ng-changed="buildPorts">
      </div>
    </div>

  </div>

  <div class="col-md-2">

    <div class="checkbox">
      <label>
        <input type="checkbox">
        Port Statistics
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Ingress Port
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Table
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Normal
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Any
      </label>
    </div>

  </div>
  <div class="col-md-2">
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Flood
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        All
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Controller
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Local
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        None
      </label>
    </div>

  </div>
</div>

<hr>

<table class="table table-striped">
  <thead>
    <th>Port Id</td>
    <th>Hw Addr</th>
    <th>Name</th>
    <th>Speed</th>
    <th>Mode</th>
    <th>Medium</th>
  </thead>
  <tbody>
  <tr ng-repeat="port in ports">
    <td>{{$index}}</td>
    <td>
      <input class="form-control" type="text" ng-model="port.mac">
    </td>
    <td>
      <input class="form-control" type="text" ng-model="port.name">
    </td>
    <td>
      <select class="form-control" ng-model="port.speed" 
              ng-options="speed.label for speed in Speeds">
        <option value="">-- choose speed --</option>
      </select>
    </td>
    <td>
      <select class="form-control" ng-model="port.mode"
              ng-options="mode.label for mode in Modes">
        <option value="">-- choose mode --</option>
      </select>
    </td>
    <td>
      <select class="form-control" ng-model="port.medium"
              ng-options="medium in Mediums">
        <option value="">-- choose medium --</option>
      </select>
    </td>

  </tr>
  </tbody>
</table>

