
<h3>Switch</h3>
<switch-view data="profile.ports"></switch-view>

<div class="row">
  <div class="col-md-offset-3">
<div class="form-group">
  <div class="input-group">
    <div class="input-group-addon">Port Count</div>
      <input class="form-control" type="text" style="max-width:100px"
             ng-model="profile.ports.n_ports">
      <button class="btn btn-primary" ng-click="profile.ports.rebuild()">
        Update
      </button>
    </div>
  </div>
</div>
</div>
</div>
   
<div class="row">

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Capabilities</h3>
      </div>
      <div class="panel-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="profile.ports.port_stats">
            Port Statistics
          </label>
        </div>
        <hr>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="profile.ports.mediums.Copper">Copper
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="profile.ports.mediums.Fiber">Fiber
        </label>
        <hr>
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.modes.half_duplex">
            Half Duplex
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.modes.full_duplex">
            Full Duplex
          </label>
        </div>
        <hr>
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.speeds['10_mbps']">10 Mbps
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.speeds['100_mbps']">100 Mbps
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.speeds['1_gbps']">1 Gbps
          </label>
        </div>
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.speeds['10_gbps']">10 Gbps
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.speeds['40_gbps']">40 Gbps
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.speeds['100_gbps']">100 Gbps
          </label>
        </div>
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="profile.ports.speeds['1_tbps']">1 Tbps
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Virtual Ports</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.stp">
                STP
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.in_port">
                Ingress Port
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.table">
                Table
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.normal">
                Normal
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.none">
                None
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.flood">
                Flood
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.all">
                All
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.controller">
                Controller
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.local">
                Local
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.any">
                Any
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Port Properties</h3>
<hr>

<table class="table table-striped">
  <thead>
    <th>Id</td>
    <th>Address</th>
    <th>Name</th>
    <th>Speed</th>
    <th>Mode</th>
    <th>Medium</th>
  </thead>
  <tbody>
  <tr ng-repeat="port in profile.ports.ports">
    <td>{{$index}}</td>
    <td>
      <div class="input-group" ng-class="{'has-error': !tests.Ports.Port.mac(port.mac)}">
      <input class="form-control" type="text" ng-model="port.mac"
             tooltip="{{tips.Ports.Port.mac}}">
           </div>
    </td>
    <td>
      <div class="input-group" ng-class="{'has-error': !tests.Ports.Port.name(port.name)}">
      <input class="form-control" type="text" ng-model="port.name"
             tooltip="{{tips.Ports.Port.name}}">
      </div>
    </td>
    <td>
      <select class="form-control" tooltip="{{tips.Ports.Port.speed}}" i
              ng-model="port.speed" 
              ng-options="speed.value as speed.label for speed in speeds |
              fgSelect: profile.ports.speeds">
      </select>
    </td>
    <td>
      <select class="form-control" tooltip="{{tips.Ports.Port.mode}}" 
              ng-model="port.mode"
              ng-options="mode.value as mode.label for mode in modes |
              fgSelect: profile.ports.modes">
      </select>
    </td>
    <td>
      <select class="form-control" tooltip="{{tips.Ports.Port.medium}}" 
              ng-model="port.medium"
              ng-options="medium as medium for medium in mediums | 
              fgSelect: profile.ports.mediums">
      </select>
    </td>

  </tr>
  </tbody>
</table>

