
<h3>Switch</h3>
  <switch-view data="profile.ports"></switch-view>
<br>

<div class="row">
  <div class="col-md-offset-3">
<div class="form-group">
  <div class="input-group" ng-class="{'has-error': !profile.ports.nPortsTest(profile.ports.n_ports)}">
    <div class="input-group-addon">Port Count</div>
      <input class="form-control" type="text" style="max-width:100px"
             ng-model="profile.ports.n_ports">
      <button class="btn btn-primary" ng-click="profile.ports.rebuild()">
        Update
      </button>
    </div>
  </div>
</div>
</div>
</div>

<div class="row">

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Capabilities</h3>
      </div>
      <div class="panel-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="profile.ports.port_stats">
            Port Statistics
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="profile.ports.port_blocked">
            Port Blocked
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Virtual Ports</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.in_port">
                Ingress Port
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.table">
                Table
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.normal">
                Normal
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.flood">
                Flood
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.all">
                All
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.controller">
                Controller
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="profile.ports.vports.local">
                Local
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Port Properties</h3>
<hr>

<table class="table table-striped">
  <thead>
    <th>Id</td>
    <th>MAC Address</th>
    <th>Name</th>
    <th>Speed</th>
    <th>Medium</th>
  </thead>
  <tbody>
  <tr ng-repeat="port in profile.ports.ports">
     <td>{{port.id}}</td>
    <td>
      <div class="input-group" ng-class="{'has-error': !metadata.tests.Ports.mac(port.mac)}">
      <input class="form-control" type="text" ng-model="port.mac"
             tooltip="{{metadata.tips.Ports.mac}}">
           </div>
    </td>
    <td>
      <div class="input-group" ng-class="{'has-error': !metadata.tests.Ports.name(port.name)}">
      <input class="form-control" type="text" ng-model="port.name"
             tooltip="{{metadata.tips.Ports.name}}">
      </div>
    </td>
    <td>
      <select class="form-control" tooltip="{{tips.Ports.Port.speed}}" i
              ng-model="port.ethernet.speed"
              ng-options="value as value for (key, value)
              in metadata.ranges.Ports.speeds">
      </select>
    </td>
    <td>
      <select class="form-control" tooltip="{{tips.Ports.Port.medium}}"
              ng-model="port.ethernet.medium"
              ng-options="value as value for (key, value) in
              metadata.ranges.Ports.mediums">
      </select>
    </td>

  </tr>
  </tbody>
</table>

