
<table class="table table-hover table-condensed table-striped">
  <thead>
  <tr>
    <th>Identifier</th>
    <th>Name</th>
    <th>Max Entries</th>
    <th>Table Stats</th>
    <th>Flow Stats</th>
    <th>Flow Capabilities</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="table in profile.tables.tables">
    <td>{{table.table_id}}</td>
    <td>
      <input class="form-control" type="text" ng-model="table.name"
             tooltip="{{tips.table.name}}" style="width:100px" 
             ng-class="{'has-error': !tests.table.name(table.name)}">
    </td>
    <td>
      <input class="form-control" type="text" ng-model="table.max_entries"
             tooltip="{{tips.table.max_entries}}" style="width:60px" 
             ng-class="{'has-error': !tests.table.max_entries(table.max_entries)}">
    </td>
    <td>
      <input type="checkbox" ng-model="table.table_stats">
    </td>
    <td>
      <input type="checkbox" ng-model="table.flow_stats">
    </td>
    <td>
      <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default" ng-click="match()">
          Match
        </button>
        <button type="button" class="btn btn-default" ng-click="instruction()">
          Instruction
        </button>
        <button type="button" class="btn btn-default" ng-click="instrucitonMiss()">
          Instruction Miss
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
