
<div class="container">
<table class="table table-header-rotated">
  <thead>
  <tr>
    <th><div><span>Table Id</span></div></th>
    <th><div><span>Max Entries</span></div></th>
    <th class="rotate-45"><div><span>Match Eth.src</span></div></th>
    <th class="rotate-45"><div><span>Match Eth.dst</span></div></th>
    <th class="rotate-45"><div><span>Match Eth.typelen</span></div></th>
    <th class="rotate-45"><div><span>Match VLAN.pcp</span></div></th>
    <th class="rotate-45"><div><span>Match VLAN.vid</span></div></th>
    <th class="rotate-45"><div><span>Instruction</span></div></th>
    <th class="rotate-45"><div><span>Action</span></div></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>0</td>
    <td>1024</td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
    <td><input type="checkbox"></td>
  </tr>
  </tbody>
</table>
</div>

