
<table class="table table-hover table-condensed table-striped">
  <thead>
  <tr>
    <td>Identifier</td>
    <td>Name</td>
    <td>Max Entries</td>
    <td>Table Stats</td>
    <td>Flow Stats</td>
    <td>Flow Capabilities</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="table in profile.tables.tables">
    <td>{{table.table_id}}</td>
    <td>
      <input class="form-control" type="text" ng-model="table.name"
             tooltip="{{tips.table.name}}"  
             ng-class="{'has-error': !tests.table.name(table.name)}">
    </td>
    <td>
      <input class="form-control" type="text" ng-model="table.max_entries"
             tooltip="{{tips.table.max_entries}}"  
             ng-class="{'has-error': !tests.table.max_entries(table.max_entries)}">
    </td>
    <td>
      <input type="checkbox" ng-model="table.table_stats">
    </td>
    <td>
      <input type="checkbox" ng-model="table.flow_stats">
    </td>
    <td>
      <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default" ng-click="match()">
          Match
        </button>
        <button type="button" class="btn btn-default" ng-click="instruction()">
          Instruction
        </button>
        <button type="button" class="btn btn-default" ng-click="instrucitonMiss()">
          Instruction Miss
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
