<html>
<head>
</head>
<body style="background-color: #8080;">
<table align="center" cellpadding="1" cellspacing="1" style="width: 500px; background-color: white; border-radius: 10px; border: 1px solid #1a1a1a;">
  <tbody style="padding: 20px;">
      <tr><td><img src="https://flowsim.flowgrammable.org/logo.png"></td></tr>
    <tr>
    You have requested a password reset for your Flowsim account.
    <br/>
    Click the link below to go to the password reset form:
    <br/><br/>
    <a href="<%= baseUrl %>/#/subscriber/reset/<%= token %>">Reset Password</a>
    <br/><br/>
    The Flowsim Team
    </tr>
  </tbody>
</table>
</body>
</html>
