<html>
<head>
</head>
<body style="background-color: #8080;">
<table align="center" cellpadding="1" cellspacing="1" style="width: 500px; background-color: white; border-radius: 10px; border: 1px solid #1a1a1a;">
  <tbody>
      <tr><td><img src="https://flowsim.flowgrammable.org/logo.png"></td></tr>
    <tr>
      <td> Just wanted to let you know that Flowsim has launched. You can start using Flowsim today, but first you will need to register. You can register by clicking the link below.
    <br/>
    <br/><br/>
    <a href="https://flowsim.flowgrammable.org">https://flowsim.flowgrammable.org</a>
    <br/><br/>
    <h3>The Flowsim Team!</h3></td>
    </tr>
  </tbody>
</table>
</body>
</html>
