
<div ng-controller="packet2Controller">
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h4>Packets</h4>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="packet name" ng-model="packetName">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addPacket()">
          Add
        </button>
      </span>
    </div>
    <div class="error" ng-show="packetExists">
      <h6><span>
        Packet name already in use.
      </h6></span>
    </div>
    <div class="error" ng-show="badPacketName">
      <h6>
        <span>
          Invalid packet name.<br>
          Use letters, digits, and underscore.<br>
          Cannot begin with a digit.
        </span>
      <h6>
    </div>

    <br>

    <table class="table table-striped table-hover">
      <tr ng-repeat="packet in packets.packets" ng-class="{info: $index==focus}">
        <td ng-click="shiftFocus($index)">
          {{packet.name}}
          <span class="glyphicon glyphicon-minus-sign pull-right" ng-click="delPacket($index)"></span>
        </td>
      </tr>
    </table>

  </div>
  <div class="col-md-4">
      <h4>Packet View</h4>
      <div ng-hide="packets.length">Create a packet to view</div>
        <img src="img/packet.png" class="img-responsive" alt="Responsive image" ng-show="packets.size()"></img>
  </div>
  <div class="col-md-4">
    <h4>Payloads</h4>
    <div ng-hide="packets.size()">
      Create a packet to manipulate.
    </div>
    <div ng-show="packets.size()">
      <accordion close-others="true">
        <accordion-group 
          ng-repeat="protocol in packet.protocols" 
          heading="{{protocol.name}}">
          Protocol Contents ...
        </accordion-group>
      </accordion>
      <div class="input-group">
        <select class="form-control" ng-model="protocol">
          <option ng-repeat="name in packet.next">{{name}}</option>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="addProtocol()">
            Add
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

</div>
