
<div ng-controller="packet2Controller">

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h4>Packets</h4>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="packet name" ng-model="packetName">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addPacket()">
          Add
        </button>
      </span>
    </div>

    <br>

    <table class="table table-striped table-hover">
      <tr ng-repeat="packet in packets">
        <td>
          {{packet.name}}
          <span class="glyphicon glyphicon-minus-sign pull-right" ng-click="delPacket($index)"></span>
        </td>
      </tr>
    </table>

  </div>
  <div class="col-md-4">
    <h4>Packet View</h4>
    <img src="img/packet.png" class="img-responsive" alt="Responsive image"></img>
  </div>
  <div class="col-md-4">
    <h3>Payloads</h3>

    <accordion close-others="oneAtATime">
      <accordion-group heading="Ethernet">
        blah
      </accordion-group>
      <accordion-group heading="IPv4">
        bleh
      </accordion-group>
    </accordion>

  </div>
</div>

</div>
