<div class="row">
  <div ng-controller="profilecreateController" class="col-md-8 col-md-offset-1">
<b>{{data}}</b>
<form ng-hide="hideProfile" ng-submit="createProfile()">
  Profile Name: <input type="text" name="input" ng-model="profile.profile_name"><br/>
  <b>Virtual Ports</b><br/> 
  Any <input type="checkbox" ng-model="profile.vp_any"><br/>
  Local <input type="checkbox" ng-model="profile.vp_local"><br/>
  Normal <input type="checkbox" ng-model="profile.vp_normal"><br/>
  Flood <input type="checkbox" ng-model="profile.vp_flood"><br/>
  <b>Supported Matches</b><br/>
  In Port <input type="checkbox" ng-model="profile.ofpxmt_ofb_in_port"><br/>
  In Physical Port <input type="checkbox" ng-model="profile.ofpxmt_ofb_in_phy_port"><br/>
  Ethernet Destination <input type="checkbox" ng-model="profile.ofpxmt_ofb_eth_dst"><br/>
  Ethernet Source <input type="checkbox" ng-model="profile.ofpxmt_ofb_eth_src"><br/>
  Ethernet Type <input type="checkbox" ng-model="profile.ofpxmt_ofb_eth_type"><br/>
  <b>Supported Actions</b><br/>
  Output <input type="checkbox" ng-model="profile.ofpat_output"><br/>
  Set Field Ethernet Destination <input type="checkbox" ng-model="profile.ofpat_set_field_eth_dst"><br/>
  Set Field Ethernet Source <input type="checkbox" ng-model="profile.ofpat_set_field_eth_src"><br/>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</div>
