<div class="row">
  <div ng-controller ="signupController" class="col-md-4 col-md-offset-3">
<b>{{data}}</b>

<div class="alert alert-success" ng-show="showCheckEmail">You have been registered, to continue please check your email so we can verify your account</div>
<div class="alert alert-danger" ng-show="showUserError">You have entered an invalid email or an invalid password (must be 8-16 chars) or passwords dont match</div>
<div class="alert alert-danger" ng-show="showDuplicateUser">That email address has already been registered </div>
<form ng-submit="createSubscriber()" ng-hide="registerSuccess">
 <div class="form-group">
    <label for="username">Email address</label>
    <input type="email" class="form-control" id="username" ng-model="subscriber.email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="subscriber.password1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password_validation">Retype Password</label>
    <input type="password" class="form-control" id="password_validation" ng-model="subscriber.password2" placeholder="Retype Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
