
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Password Reset</h1>

    Please enter your email address and click on reset. We will send you an
    email with a link to help reset your password.

    <hr>

    <form role="form" ng-controller="resetCtrl" ng-hide="sent">
      <div class="form-group">
        <label for="emailAddr">Email Address</label>
        <input type="email" class="form-control" id="emailAddr" 
               placeholder="Enter email" ng-model="emailAddr">
      </div>
      <a href="" class="btn btn-default"
         ng-click="reset()">Reset</a>
    </form>

    <div ng-show="sent">
      <h1>Verification Step</h1>
      A password reset email has been sent to you. You must click on the link
      enclosed in that email to complete the reset process.
    </div>

  </div>
</div>
