
<br>

<div class="row">
  <div class="col-md-4 col-md-offset-1">

    <div class="form-group">
      <div class="input-group"
           ng-disabled="true">
        <div class="input-group-addon" style="width:110px"
              tooltip="{{tips.Datapath.datapath_id}}">
          Datapath ID
        </div>
        <input class="form-control" type="text" style="width:200px"
               ng-model="_switch.datapath.datapath_id" ng-disabled="true">
      </div>
    </div>
    <div class="checkbox">
      <label tooltip="{{tips.Datapath.ip_reassembly}}">
        <input type="checkbox" ng-model="profile.datapath.ip_reassembly">
          IP Reassembly
      </label>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:110px"
             tooltip="{{tips.Datapath.n_buffers}}">
          Buffer Count
        </div>
        <input class="form-control" type="text" style="width:200px"
               ng-model="_switch.datapath.n_buffers" ng-disabled="true">
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px"
             tooltip="{{tips.Datapath.mfr_description}}">
          Manufacturer description
        </div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="_switch.datapath.mfr_description"
                  ng-disabled="true"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px"
             tooltip="{{tips.Datapath.hw_description}}">
          Hardware description
        </div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="_switch.datapath.hw_description"
                  ng-disabled="true"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px"
          tooltip="{{tips.Datapath.sw_description}}">
          Software description</div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="_switch.datapath.sw_description"
                  ng-disabled="true"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px"
             tooltip="{{tips.Datapath.serial_num}}">
          Serial Number</div>
        <input class="form-control" type="text" style="width:300px"
               ng-model="_switch.datapath.serial_num"
               ng-disabled="true">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon" style="width:200px"
             tooltip="{{tips.Datapath.dp_description}}">
          Dataplane description
        </div>
        <textarea class="form-control" rows="3" style="width:300px"
                  ng-model="_switch.datapath.dp_description"
                  ng-disabled="true"></textarea>
      </div>
    </div>

  </div>
</div>
