
<div class="modal-header">
  <h3 class="modal-title">
    Flow: Priority {{flow.priority}}
  </h3>
</div>
<div class="modal-body">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h4>Match Set</h4>
    </div>

    <table class="table table-striped table-hover tabled-centered">
      <thead>
        <th>Category</th>
        <th>Field</th>
        <th>Value</th>
        <th>Mask</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="match in matchList">
          <td>{{match.category}}</td>
          <td>{{match.field}}</td>
          <td>{{match.value}}</td>
          <td>{{match.mask}}</td>
          <td>
            <span class="glyphicon glyphicon-minus-sign pull-right"
                  ng-show="$index === $last">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <select class="form-control" ng-model="match.category"
                    ng-options="category as category for category in
                    match.categories" ng-change="updateMatchCategory()">
                    <option value="">-- Choose Category --</option>
            </select>
          </td>
          <td>
            <select class="form-control" ng-model="match.field"
                    ng-options="field as field for field in
                    match.fields" ng-change="updateMatch()">
            </select>
          </td>
          <td>
            <div class="form-group"
            tooltip="{{match ? match.tip : ''}}">
            <input type="text" class="form-control" ng-model="match.value">
          </div>
          </td>
        <td>
          <input type="text" class="form-control" ng-model="match.mask">
        </td>
        <td>
          <button class="btn btn-default" ng-click="addMatch()">Add</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h4>Instruction Set</h4>
      <button type="button" class="btn btn-xs btn-default"
              ng-show="flow.capabilities.instruction.caps.meter"
              ng-click="toggleMeter()"
              ng-class="{'btn-primary': activeIns.meter}">
        Meter
      </button>
      <button type="button" class="btn btn-xs btn-default"
              ng-show="flow.capabilities.instruction.caps.apply"
              ng-click="activeIns.apply = !activeIns.apply;
                        activeIdx = activeIdx === 1 ? -1 : activeIdx"
              ng-class="{'btn-primary': activeIns.apply}">
        Apply
      </button>
      <button type="button" class="btn btn-xs btn-default"
              ng-show="flow.capabilities.instruction.caps.clear"
              ng-click="toggleClear()"
              ng-class="{'btn-primary': activeIns.clear}">
        Clear
      </button>
      <button type="button" class="btn btn-xs btn-default"
              ng-show="flow.capabilities.instruction.caps.write"
              ng-click="activeIns.write = !activeIns.write;
                        activeIdx = activeIdx === 3 ? -1 : activeIdx"
              ng-class="{'btn-primary': activeIns.write}">
        Write
      </button>
      <button type="button" class="btn btn-xs btn-default"
              ng-show="flow.capabilities.instruction.caps.metadata"
              ng-click="toggleMetadata()"
              ng-class="{'btn-primary': activeIns.metadata}">
        Metadata
      </button>
      <button type="button" class="btn btn-xs btn-default"
              ng-show="flow.capabilities.instruction.caps.goto_"
              ng-click="toggleGoto()"
              ng-class="{'btn-primary': activeIns._goto}">
        Goto
      </button>
    </div>
    <div class="row">
        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item"
                ng-show="activeIns.meter"
                ng-class="{'active': activeIdx === 0}"
                ng-click="activeIdx = activeIns.meter ? 0 : activeIdx">
                Meter
            </li>
            <li class="list-group-item"
                ng-show="activeIns.apply"
                ng-class="{'active': activeIdx === 1}"
                ng-click="activeIdx = 1">
              Apply
            </li>
            <li class="list-group-item"
                ng-show="activeIns.clear"
                ng-class="{'active': activeIdx === 2}"
                ng-click="activeIdx = 2">
              Clear
            </li>
            <li class="list-group-item"
                ng-show="activeIns.write"
                ng-class="{'active': activeIdx === 3}"
                ng-click="activeIdx = 3">
              Write
            </li>
            <li class="list-group-item"
                ng-show="activeIns.metadata"
                ng-class="{'active': activeIdx === 4}"
                ng-click="activeIdx = 4">
              Metadata
            </li>
            <li class="list-group-item"
                ng-show="activeIns._goto"
                ng-class="{'active': activeIdx === 5}"
                ng-click="activeIdx = 5">
              Goto
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <div ng-show="activeIdx === 0">
            <br>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Meter Id
                </label>
                <div class="col-sm-5">
                  <input type="text" class="form-control"
                  ng-model="simpleIns.meter">
                </div>
              </div>
            </form>
          </div>
          <div ng-show="activeIdx === 1">

            <fg-apply-actions toplevel="applyActions" action-list="applyList"
                              add-action="flow.ins.pushApply">
            </fg-apply-actions>

          </div>
          <div ng-show="activeIdx === 2">
            <h3>Clear the Action Set</h3>
          </div>
          <div ng-show="activeIdx === 3">

            <table class="table table-striped table-hover tabled-centered">
              <thead>
                <th>Category</th>
                <th>Field</th>
                <th>Action</th>
                <th>Value</th>
                <th></th>
              </thead>
              <tbody>
                <tr ng-repeat="action in writeList">
                  <td>{{action.category}}</td>
                  <td>{{action.field}}</td>
                  <td>{{action.action}}</td>
                  <td>{{action.value.toString()}}</td>
                  <td>
                    <span class="glyphicon glyphicon-minus-sign pull-right"
                          ng-show="$index === $last">
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="form-control" ng-model="write.category"
                            ng-options="category as category for category in
                            write.categories">
                    </select>
                  </td>
                  <td>
                    <select class="form-control" ng-model="write.field"
                            ng-options="field as field for field in
                            write.fields">
                    </select>
                  </td>
                  <td>
                    <select class="form-control" ng-model="write.action"
                            ng-options="action as action for action in
                            write.actions">
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control"
                           ng-model="write.value">
                  </td>
                  <td>
                    <button class="btn btn-default">Add</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div ng-show="activeIdx === 4">
            <br>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Value
                </label>
                <div class="col-sm-5">
                  <input type="text" class="form-control"
                         ng-model="simpleIns.metadataValue">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Mask
                </label>
                <div class="col-sm-5">
                  <input type="text" class="form-control"
                         ng-model="simpleIns.metadataMask">
                </div>
              </div>
            </form>
          </div>
          <div ng-show="activeIdx === 5">
            <br>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Table Id
                </label>
                <div class="col-sm-5">
                  <input type="text" class="form-control"
                         ng-model="simpleIns.goto_">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
