
<h3>Switch</h3>
  <switch-view data="device.ports"></switch-view>
<br>

<h3>Port Properties</h3>
<hr>

<table class="table table-striped">
  <thead>
    <th>Id</td>
    <th>Address</th>
    <th>Name</th>
    <th>Config</th>
    <th>Speed</th>
    <th>Medium</th>
  </thead>
  <tbody>
  <tr ng-repeat="port in device.ports.ports">
    <td>{{port.id}}</td>
    <td>{{port.mac}}</td>
    <td>{{port.name}}</td>
    <td>
      <button type="button" class="btn btn-default btn-xs"
              ng-class="{'active': !port.config.port_down}"
              ng-click="togglePort(port.id)"
              style="outline:none">
        Down
      </button>
      <button type="button" class="btn btn-default btn-xs"
              ng-class="{'active': !port.config.no_recv}"
              ng-click="port.config.no_recv = !port.config.no_recv">
        Recv
      </button>
      <button type="button" class="btn btn-default btn-xs"
               ng-class="{'active': !port.config.no_fwd}"
              ng-click="port.config.no_fwd = !port.config.no_fwd">
        Fwd
      </button>
      <button type="button" class="btn btn-default btn-xs"
              ng-class="{'active': !port.config.no_pkt_in}"
              ng-click="port.config.no_pkt_in = !port.config.no_pkt_in">
        PktIn
      </button>
    </td>
    <td>
      {{port.curr.speed}}
    </td>
    <td>
      {{port.curr.medium}}
    </td>

  </tr>
  </tbody>
</table>

