
<br>

<div class="row">
  <div class="col-md-3">
    <h4>Flow Tables</h4>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="table in device.tables.tables"
      ng-class="{'active': $index === tableId}" ng-click="setTable($index)">
        {{table.name}}
      </li>
    </ul>

  </div>
    <div class="col-md-9">

      <table class="table table-striped">
        <thead>
          <th>Identifier</th>
          <th>Name</th>
          <th>Max Entries</th>
          <th ng-if="device.tables.capabilities.table_stats">
            Active / Lookup / Match
          </th>
        </thead>
        <tbody>
          <td>{{device.tables.tables[tableId].id}}</td>
          <td>{{device.tables.tables[tableId].name}}</td>
          <td>{{device.tables.tables[tableId].max_entries}}</td>
          <td ng-if="device.tables.capabilities.table_stats">
            {{device.tables.tables[tableId].stats.active}} /
            {{device.tables.tables[tableId].stats.lookup}} /
            {{device.tables.tables[tableId].stats.match}}
          </td>
        </tbody>
      </table>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"
               tooltip="{{metadata.tips.Tables.n_tables}}">
            Priority
          </div>
          <input class="form-control" type="text" style="max-width:100px"
          ng-model="priority">
          <button class="btn btn-primary" ng-click="newFlow()">
            Add Flow
          </button>
        </div>
      </div>

<table class="table table-striped table-hover">
  <thead>
    <th>Priority</th>
    <th>Match</th>
    <th>Instruction</th>
    <th ng-if="device.tables.capabilities.flow_stats">
      Packets / Bytes
    </th>
    <th></th>
  </thead>
  <tbody>
  <tr ng-repeat="flow in table" ng-click="openFlow($index)">
    <td>{{flow.priority}}</td>
    <td>{{flow.match.summarize().join(', ')}}</td>
    <td>{{flow.ins.summarize().join(', ')}}</td>
    <td ng-if="device.tables.capabilities.flow_stats">
      {{flow.packets}} / {{flow.bytes}}
    </td>
    <td ng-click="delFlow($index);$event.stopPropagation()">
      <span class="glyphicon glyphicon-minus-sign">
      </td>
  </tr>
  <tr ng-click="openFlow(1)">
    <td>100</td>
    <td>eth, mpls</td>
    <td>meter, apply, goto</td>
    <td>123 / 123412</td>
    <td ng-click="delFlow();$event.stopPropagation()">
      <span class="glyphicon glyphicon-minus-sign">
      </td>
  </tr>
  <tr>
    <td>10</td>
    <td>eth, vlan, vlan</td>
    <td>meter, apply, goto</td>
    <td>123 / 123412</td>
    <td><span class="glyphicon glyphicon-minus-sign"></td>
  </tr>
  <tr>
    <td>1</td>
    <td>eth, ipv6, icmpv6</td>
    <td>clear</td>
    <td>123 / 123412</td>
    <td><span class="glyphicon glyphicon-minus-sign"></td>
  </tr>
  <tr>
    <td>0</td>
    <td>eth</td>
    <td>write</td>
    <td>123 / 123412</td>
    <td><span class="glyphicon glyphicon-minus-sign"></td>
  </tr>
  </tbody>
</table>

</div>
</div>

