
<table class="table table-striped">
  <thead>
    <th>Identifier</th>
    <th>Name</th>
    <th>Max Entries</th>
    <th ng-if="device.tables.capabilities.table_stats">Active / Lookup / Match</th>
    <th>Flow Capabilities</th>
  </thead>
  <tbody>
  <tr ng-repeat="table in device.tables.tables">
    <td>{{table.id}}</td>
    <td>{{table.name}}</td>
    <td>{{table.max_entries}}</td>
    <td ng-if="device.tables.capabilities.table_stats">
      {{table.stats.active}} / {{table.stats.lookup}} / {{table.stats.match}}
    </td>
    <td>
      <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default" ng-click="match($index)">
          Match
        </button>
        <button type="button" class="btn btn-default" ng-click="instruction($index)">
          Instruction
        </button>
        <button type="button" class="btn btn-default" ng-click="miss($index)">
          Miss
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

