
<table class="table table-striped table-hover tabled-centered">
  <thead>
    <th>Protocol</th>
    <th>Field</th>
    <th>Action</th>
    <th>Value</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="action in actions">
      <td>{{action.protocol}}</td>
      <td>{{action.field}}</td>
      <td>{{action.op}}</td>
      <td>{{action.value}}</td>
      <td>
        <span class="glyphicon glyphicon-minus-sign pull-right"
              ng-show="$last" ng-click="popAction()">
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <select class="form-control" ng-model="active.protocol"
            tooltip="Select a protocol header to modify"
            ng-change="updateProtocol()">
          <option ng-repeat="protocol in active.protocols" value="{{protocol}}">
            {{protocol}}
          </option>
        </select>
      </td>
      <td>
        <select class="form-control" ng-model="active.field"
            tooltip="Select a field of a protocol header to modify"
            ng-change="updateField()">
          <option ng-repeat="field in active.fields" value="{{field}}">
            {{field}}
          </option>
        </select>
      </td>
      <td>
        <select class="form-control" ng-model="active.op"
            tooltip="Select the type of modification for the protocol header field"
            ng-change="updateOp()">
          <option ng-repeat="op in active.ops" value="{{op}}">
            {{op}}
          </option>
        </select>
      </td>
      <td>
        <div class="form-group"
             ng-class="{'has-error': active.type.op === 'set' &&
                        !active.type.valueTest(active.value)}">
          <input type="text" class="form-control" ng-model="active.value"
                 ng-disabled="active.op !== 'set'"
                 tooltip="{{active.type ? active.type.valueTip :''}}">
        </div>
      </td>
      <td>
        <button class="btn btn-default" ng-click="addAction()"
                ng-disabled="active.type.op === 'set' &&
                            !active.type.valueTest(active.value)">
          Add
        </button>
      </td>
    </tr>
  </tbody>
</table>

