
<table class="table table-striped table-hover tabled-centered">
  <thead>
    <th>Category</th>
    <th>Field</th>
    <th>Action</th>
    <th>Value</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="action in actionList.actions">
      <td>{{action.category}}</td>
      <td>{{action.field}}</td>
      <td>{{action.action}}</td>
      <td>{{action.toValue()}}</td>
      <td>
        <span class="glyphicon glyphicon-minus-sign pull-right"
              ng-show="$last" ng-click="popAction()">
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <select class="form-control" ng-model="actionCategory"
            ng-options="category as category for category in
            actionCategories"
            ng-change="updateApplyCategory()">
        </select>
      </td>
      <td>
        <select class="form-control" ng-model="actionField"
            ng-options="field as field for field in
            actionFields"
            ng-change="updateApplyField()">
        </select>
      </td>
      <td>
        <select class="form-control" ng-model="actionAction"
            ng-options="action as action for action in
            actionActions"
            ng-change="updateApplyAction()">
        </select>
      </td>
      <td>
        <div class="form-group"
         tooltip="{{applyAction ? applyAction.tip :''}}"
         ng-class="{'has-error': applyAction &&
         !applyAction.test(apply.value)}">
          <input type="text" class="form-control"
             ng-model="actionValue">
        </div>
      </td>
      <td>
        <button class="btn btn-default"
            ng-click="addAction()">
          Add
        </button>
      </td>
    </tr>
  </tbody>
</table>

