<div id="choice-container">
<div id="arrow" class="choice-arrow"></div>
    <div id="choice-content">
        <div id="tbl1" class="choice-tbl choice-tbl-fade ctx-key-color-prim"></div>
        <div id="tbl2" class="choice-tbl choice-tbl-fade ctx-key-color-sec"></div>
        <div id="tbl3" class="choice-tbl ctx-key-color-prim"><div class="choice-text">Table {{data}}</div></div>
        <div id="tbl4" class="choice-tbl choice-tbl-fade ctx-key-color-sec"><div class="choice-text">Table {{firstTable}}</div></div>
    </div>
</div>

