<div id="selection-container">
    <div id="arrow" class="selection-arrow"></div>
    <div id="selection-content">
        <div id="tbl1" class="selection-tbl ctx-key-color-prim">Priority&nbsp;&nbsp;&nbsp;Match&nbsp;&nbsp;&nbsp;Instructions</div>
        <div id="tbl2" class="selection-tbl ctx-key-color-sec">Priority&nbsp;&nbsp;&nbsp;Match&nbsp;&nbsp;&nbsp;Instructions</div>
        <div id="tbl3" class="selection-tbl ctx-key-color-prim">Priority&nbsp;&nbsp;&nbsp;Match&nbsp;&nbsp;&nbsp;Instructions</div>
        <div id="tbl4" class="selection-tbl ctx-key-color-sec">Priority&nbsp;&nbsp;&nbsp;Match&nbsp;&nbsp;&nbsp;Instructions</div>
    </div>
    <div>
        <div class="selection-hdr"></div>
        <div class="selection-tbl-cnt"><div>{{selection.priority}}</div><div>{{selection.match}}</div><div>{{selection.instructions}}</div></div>
    </div>
</div>

