
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Instruction Set</h4>
    <span ng-repeat="ins in instructions">
      <button type="button" class="btn btn-xs btn-default"
              tooltip="{{'Add/Remove '+ins.name}}"
              ng-show="set.profile[ins.name.toLowerCase()].enabled ||
                       set.profile[ins.name.toLowerCase()+'_'].enabled"
              ng-click="ins.enabled = !ins.enabled;
                        active.index = active.index === $index ? -1 : active.index" 
              ng-class="{'btn-primary': ins.enabled}">
        {{ins.name}}
      </button>
    </span>
  </div>
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <li ng-repeat="ins in instructions" class="list-group-item"
            tooltip="{{ins.tip}}"
            ng-class="{'active': active.index === $index}"
            ng-show="ins.enabled" ng-click="active.index = $index">
          {{ins.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div ng-show="active.index === 0">
        <br>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Meter Id
            </label>
            <div class="col-sm-5"
                 ng-class="{'has-error': set.meter.id.length > 0 &&
                             !set.meter.idTest(set.meter.id)}">
              <input type="text" class="form-control"
                     tooltip="{{set.meter.idTip}}" ng-model="set.meter.id">
            </div>
          </div>
        </form>
      </div>
      <div ng-show="active.index === 1">
        <fg-apply-actions toplevel="set.profile.apply.profiles.profiles" 
                          match="match.set"
                          actions="set.apply.actions">
        </fg-apply-actions>
      </div>
      <div ng-show="active.index === 2">
        <h3>Clear the Action Set</h3>
      </div>
      <div ng-show="active.index === 3">
        <fg-write-actions toplevel="set.profile.write.profiles.profiles" 
                          match="match.set"
                          actions="set.write.actions">
        </fg-write-actions>
      </div>
      <div ng-show="active.index === 4">
        <br>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Value
            </label>
            <div class="col-sm-5" ng-class="{'has-error':
              set.metadata.value.length > 0 &&
              !set.metadata.valueTest(set.metadata.value)}">
              <input type="text" class="form-control"
                     tooltip="{{set.metadata.valueTip}}"
                     ng-model="set.metadata.value">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Mask
            </label>
            <div class="col-sm-5" ng-class="{'has-error':
              set.metadata.mask.length > 0 &&
              !set.metadata.maskTest(set.metadata.mask)}">
              <input type="text" class="form-control"
                     tooltip="{{set.metadata.maskTip}}"
                     ng-model="set.metadata.mask">
            </div>
          </div>
        </form>
      </div>
      <div ng-show="active.index === 5">
        <br>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Table Id
            </label>
            <div class="col-sm-5" ng-class="{'has-error':
              set.goto_.target.length > 0 &&
              !set.goto_.targetTest(set.goto_.target)}">
              <input type="text" class="form-control"
                     tooltip="{{set.goto_.targetTip}}"
                     ng-model="set.goto_.target">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

