
<h4 ng-transclude>
  <!-- transclude the list title -->
</h4>

<!-- setup an input box with add button -->
<div class="input-group">
  <input type="text" class="form-control" placeholder="name" 
         ng-model="itemName">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="addItem($index)"
            ng-disabled="{{init}}">
      Add
    </button>
  </span>
</div>

<!-- setup an error display -->
<div class="error" ng-show="errorMsg.length">
  <h6>
    <span>{{errorMsg}}</span>
  </h6>
</div>

<br>

<!-- list each item with a posibility of deletion and changing focus -->
<table class="table table-striped table-hover">
  <tr ng-repeat="item in items" ng-class="{info: $index==focus}">
    <td ng-click="shiftFocus($index)">
      {{item}}
      <span class="glyphicon glyphicon-minus-sign pull-right" 
            ng-click="delItem($index)">
      </span>
    </td>
  </tr>
</table>

