
<h4 ng-transclude>
  <!-- transclude the list title -->
</h4>
<h5 ng-hide="packet">
  No items selected for display.
</h5>

<div ng-show="packet">

  <accordion close-others="true">
    <accordion-group ng-repeat="protocol in packet.protocols">

      <!-- Print the heading and delete button if last element -->
      <accordion-heading>
        {{protocol.name}}
        <span ng-if="$last && $index!==0"
              class="glyphicon glyphicon-minus-sign pull-right" 
              ng-click="popProtocol()"></span>
      </accordion-heading>
  
      <!-- Print a label and input box for each field -->
        <div ng-repeat="field in protocol.fields" class="input-group input-group-sm">
          <span class="input-group-addon" style="width:100px" >
            {{field.name}}
          </span>
        <fg-field-validation uint="field.value" protocol="{{protocol.name}}" field="{{field.name}}"/>
      </div>

    </accordion-group>
  </accordion>

  <div class="input-group">
    <select class="form-control" ng-model="nodeType" 
      ng-options="key as value for (key, value) in options">
    </select>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="addProtocol()">
        Add
      </button>
    </span>
  </div>
  
  <br>
 
</div>

