
<h4 ng-transclude>
  <!-- transclude the list title -->
</h4>

<h5 ng-hide="stack.length">
  No items selected for display.
</h5>

<div ng-show="stack.length">

  <accordion close-others="true">
    <accordion-group ng-repeat="node in stack.items()">

      <!-- Print the heading and delete button if last element -->
      <accordion-heading>
        {{node.name}}
        <span ng-if="$last && $index!=0"
              class="glyphicon glyphicon-minus-sign pull-right" 
              ng-click="delNode($index)"></span>
      </accordion-heading>
  
      <!-- Print a label and input box for each field -->
      <div class="input-group" ng-repeat="attr in node.attrs"
           ng-class="{'has-error': !attr.test(attr.value)}">
        <span class="input-group-addon" style="width:80px"
              tooltip="{{attr.tip}}" tooltip-popup-delay='1000'>
          {{attr.name}}
        </span>
        <input type="text" class="form-control" ng-model="attr.value">
      </div>

    </accordion-group>
  </accordion>

  <div class="input-group">
    <select class="form-control" ng-model="nodeType">
      <option ng-repeat="name in options">{{name}}</option>
    </select>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="addNode()">
        Add
      </button>
    </span>
  </div>
  
  <br>
  
  <div style="text-align:center">
    <button type="button" class="btn btn-primary btn-sm" 
      ng-disabled="{{!stackDirty}}" ng-click="save()">
      Save
    </button>
    <button type="button" class="btn btn-primary btn-sm" 
      ng-disabled="{{!stackDirty}}" ng-click="revert()">
      Revert
    </button>
  </div>
  
</div>

