<div ng-show="device">
  <tabset>
    <tab active="tabs.datapath.active" ui-sref="switch.editor.datapath" heading="Datapath"></tab>
    <tab active="tabs.ports.active" ui-sref="switch.editor.ports" heading="Ports"></tab>
    <tab active="tabs.tables.active" ui-sref="switch.editor.tables" heading="Tables"></tab>
    <tab active="tabs.groups.active" ui-sref="switch.editor.groups" heading="Groups"></tab>
    <tab active="tabs.meters.active" ui-sref="switch.editor.meters" heading="Meters"></tab>
  </tabset>
  <ui-view/>
</div>
