<div>
<!--
<form class="form-inline">
  <div class="form-group">
    <select class="form-control" ng-model="resources.packetName">
      <option ng-repeat="name in resources.packets">{{name}}</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="active.in_port"
            ng-options="port.id as port.id for port in logPorts">
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="active.in_phy_port"
            ng-options="port.id as port.id for port in phyPorts">
      <option value=""></option>
    </select>
  </div>
  <div class="form-group">
    <label>
      <input class="form-control" type="text" ng-model="active.tunnel">
    </label>
  </div>
</form>
-->

<table class="table">
  <thead>
    <th></th>
    <th>Packet</th>
    <th>Logical Port</th>
    <th>Physical Port</th>
    <th>Tunnel Id</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>
        <select class="form-control" ng-model="active.packetName">
          <option ng-repeat="name in resources.packets">{{name}}</option>
        </select>
      </td>
      <td>
        <select class="form-control" ng-model="active.in_port"
            ng-options="port.id as port.id for port in logPorts">
        </select>
      </td>
      <td>
        <select class="form-control" ng-model="active.in_phy_port"
            ng-options="port.id as port.id for port in phyPorts">
          <option value=""></option>
        </select>
      </td>
      <td>
        <label>
          <input class="form-control" type="text" ng-model="active.tunnel">
        </label>
      </td>
      <td>
        <button class="btn btn-default" type="button" 
                ng-disabled="!resources.packetName || !active.in_port" 
                ng-click="addEvent()">
          Add
        </button>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Packet</th>
    <th>In Port</th>
    <th>In Phy Port</th>
    <th>Tunnel ID</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="ev in pktEvents">
      <td>{{$index+1}}</td>
      <td>{{ev.packet.name}}</td>
      <td>{{ev.in_port}}</td>
      <td>{{ev.in_phy_port}}</td>
      <td>{{ev.tunnel}}</td>
      <td>
        <span class="glyphicon glyphicon-minus-sign" 
              ng-click="delEvent($index)">
        </span>
      </td>
    </tr>
  </tbody>
</table>

</div>
