
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1>Learn OpenFlow<h1>
    </div>
      <div class="col-md-4 col-md-offset-2">
        <img src="images/dp_anime.gif" class="img-responsive" width="300"
          alt="Responsive image">
      </div>
    </div>
  <p>
  Now you can learn the OpenFlow data plane using a simple web browser. Flowsim
  is designed to simulate five different versions of the OpenFlow switch data
  plane. Create a switch profile based on a specific version of OpenFlow.
  Instantiate that profile and configure the resulting switch as a live OpenFlow
  device. Step packets through each stage of the data plane of your switch, and 
  see how the packet and your configuration interact at each stage in the
  pipeline.
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3><i class="fa fa-long-arrow-right"></i> Datapath</h3>
    <p>
    Constrain a switch's data plane fragmentation and packet buffering abilities
    through the datapath profile. Manipulate the data plane's fragmentation
    handling behaviors through the datapath configuration.
    </p>
  </div>
  <div class="col-md-4">
    <h3><i class="fa fa-database"></i> Flow Table</h3>
    <p>
    Determine a flow tables capabiltiess: number of flows, matching types,
    and instruction/action types. Track table lookups and hit/miss counts.
    Model a vendor's flow table with precise cababilities.
    </p>
  </div>
  <div class="col-md-4">
    <h3><i class="fa fa-list"></i> Flow</h3>
    <p>
    Experiment with capturing and manipulating packets through flow
    configuration. Track flow statisitcs and manage flow lifecycle explicit 
    explusion, inactivity timeouts, and absolute timeouts.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-th"></span> Port</h3>
    <p>
    Model a vendor device with number of ports, medium, speeds, and
    capabilities. Toggle port status during simulation to see port state changes
    and the associated asynchronous OpenFlow events.
    </p>
  </div>
  <div class="col-md-4">
    <h3><i class="fa fa-crosshairs"></i> Match</h3>
    <p>
    Learn one of the key elements of OpenFlow by experimenting with fine and
    course grain matching. Explore the matching limitations of each version of
    OpenFlow and modeled vendor switches.
    </p>
  </div>
  <div class="col-md-4">
    <h3><i class="fa fa-bars"></i> Instruction</h3>
    <p>
    Explore OpenFlow's control flow using goto's, partition matching across
    tables with metadata, and meter flow rates using policers and shapers. Learn
    immediate and delayed packet modification and forwarding.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3><i class="fa fa-rotate-right"></i> Action</h3>
    <p>
    Mofify the contents of a packet, forward to a specific port, or
    with a unqiue egress handling group. Learn how immediate packet modification
    affects multi-table matching.
    </p>
  </div>
  <div class="col-md-4">
    <h3><i class="fa fa-sitemap"></i> Group</h3>
    <p>
    Define a set of egress packet processing behaviors. Use Load balance across
    targets, select the live target from a high availability group, and copy a 
    packet to multiple destinations.
    </p>
  </div>
  <div class="col-md-4">
    <h3><i class="fa fa-align-right"></i> Queue</h3>
    <p>
    Estblish port based queueing during profile creation. Understand OpenFlow's
    limitaitons on queue management, and use queues as targets in output
    actions.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3><i class="fa fa-dashboard"></i> Meter</h3>
    <p>
    Defing a policing or shaping strategy to meter a flow. Use this strategy to
    limit flows to target ceiling using strict discard, or allow for bursts up
    to a certain queue depth.
    </p>
  </div>
</div>
