
<div class="row">

  <!-- Use the List Widget to manage packet names -->
  <div class="col-md-2 col-md-offset-1">
    <fg-list on-add="addPacket" on-del="delPacket" on-set="setPacket">
      Packets
    </fg-list>
    <div class="error" ng-show="errorMsg.length">
      {{errorMsg}}
    </div>
  </div>
  
  <!-- Use the custom packet widget for displaying packet details -->
  <div class="col-md-4">
    <h4>Packet View</h4>
    <img src="images/packet.png" class="img-responsive" alt="Responsive image">
    </img>
  </div>
  
  <!-- Use the Stack Widget to manage packet payloads -->
  <div class="col-md-3">
    <fg-stack get-options="getProtocols" create-node="createProtocol" 
              save-stack="savePacket">
      Payloads
    </fg-stack>
  </div>

</div>

