
<div class="row">

  <!-- Use the List Widget to manage packet names -->
  <div class="col-md-2">
    <fg-list category="packet" on-add="addPacket" on-del="delPacket" on-set="setPacket"
             on-init="getPackets">
      Packets
    </fg-list>
    <div class="error" ng-show="errorMsg.length">
      {{errorMsg}}
    </div>
  </div>
  
  <!-- Use the custom packet widget for displaying packet details -->
  <div class="col-md-5">
    <h4 ng-show="packet.protocols.length">Packet View</h4>
        <fg-packet-view packet="packet" width="100%"></fg-packet-view>
  </div>
  <!-- Use the Stack Widget to manage packet payloads -->
  <div class="col-md-4 col-md-offset-1">
    <fg-packet packet="packet" set-dirty="setDirty">Packet</fg-packet>
  </div>

</div>

