
<div class="row">

  <div class="col-md-2">
    <fg-list category="profile" on-add="addProfile" on-del="delProfile" on-set="setProfile"
             on-init="getProfiles">
      Profiles
      <div class="error" ng-show="errorMsg.length">
        {{errorMsg}}
      </div>
    </fg-list>
  </div>

  <div class="col-md-10">

    <div ng-show="profile">

  <!--  <div style="text-align:center">
      <span ng-repeat="v in versions">
        <button type="button" class="btn btn-primary btn-xs" 
                ng-click="ceilOpenFlow($index)">
          {{v}}
        </button>
      </span>
    </div>  -->

    <br>

      <tabset>
        <tab active="tabs.datapath.active" ui-sref="profile.editor.datapath" heading="Datapath"></tab>
        <tab active="tabs.ports.active" ui-sref="profile.editor.ports" heading="Ports"></tab>
        <tab active="tabs.tables.active" ui-sref="profile.editor.tables" heading="Tables"></tab>
        <tab active="tabs.groups.active" ui-sref="profile.editor.groups" heading="Groups"></tab>
        <tab active="tabs.meters.active" ui-sref="profile.editor.meters" heading="Meters"></tab>
      </tabset>
    <div ui-view="config"></div>
    </div>

  </div>

</div>

