
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div ng-show="!success">
     <h1>New User Registration</h1>
      Welcome to Flowgrammable's OpenFlow switch simulator. We're excited to
      share our latest work with you; however, before you get started you must
      have an account on our system. Please choose an email and password to
      create your account.

      <hr>

      <form ng-submit="register()" name="regForm" novalidate role="form">
        <div class="form-group" ng-class="{'has-error' : isInValidInput(regForm.email), 'has-success': isValidInput(regForm.email) }">
          <label for="email">Email Address</label>
          <input name="email" type="email" class="form-control"
            id="email" placeholder="Enter email" ng-model="email"
            required>
          <div class="error" ng-show="emailMsg.length">
            <span>{{emailMsg}}</span>
          </div>
        </div>
      <div class="form-group" ng-class="{'has-error' : isInValidInput(regForm.password1), 'has-success': isValidInput(regForm.password1) }">
        <label for="password1">Password</label>
        <input name="password1" type="password" class="form-control"
               id="password1" placeholder="Password" ng-model="password1"
               required>
        <div class="error" ng-show="password1Msg.length">
          <span>{{password1Msg}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error' : isInValidInput(regForm.password2), 'has-success': isValidInput(regForm.password2) }">
        <label for="password2">Retype Password</label>
        <input name="password2" type="password" class="form-control"
               id="password2" placeholder="Retype Password" ng-model="password2"
               required>
        <div class="error" ng-show="password2Msg.length">
          <span>{{password2Msg}}</span></div>
        <password-strength-bar password-to-check="password1"></password-strength-bar><span>Password must be at least 6 characters long and contain any combination of upper case, lower case letters, symbols or numbers.</span>

      </div>
      <button analytics-on="click" analytics-category="subscriber" analytics-event="register"
      type="submit" class="btn btn-default">Register</button>
      </form>
    </div>
    <div ng-show="success">
      <h1>Verification Step</h1>
      An email has been sent to your email account. You must click on the link
      enclosed in that email to complete the verification process.
    </div>

    <div class="error" ng-show="errorMsg.length">
      {{errorMsg}}
    </div>

  </div>
</div>
