
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div ng-show="!success">
      <h1>Password Reset Process</h1>
      Please enter your email address and click on reset. We will send you an
      email with a link to help reset your password.

      <hr>

      <form ng-submit="reset()" role="form" ng-hide="sent">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email"
                 placeholder="Enter email" ng-model="email">
            <div class="error" ng-show="emailMsg.length">
              <span>{{emailMsg}}</span>
            </div>
        </div>
        <a href="" class="btn btn-default" ng-click="reset()">Reset</a>
      </form>
    </div>
    <div ng-show="success">
      <h1>Reset Success</h1>
      Your password has been successfully updated. You may now log in using your
      new credentials.
    </div>

    <div class="error" ng-show="errorMsg.length">
      {{errorMsg}}
    </div>

  </div>
</div>
