
<div class="row">

  <div class="col-md-2">
    <fg-list on-add="addSwitch" on-del="delSwitch" on-set="setSwitch"
             on-init="getSwitches">
      Switches
      <div class="error" ng-show="errorMsg.length">
        {{errorMsg}}
      </div>
    </fg-list>
  </div>

  <div class="col-md-10">

    <div ng-show="_switch">
      <tabset>
        <tab heading="Datapath">
          <ng-include ng-controller="SwitchDatapathCtrl"
                      src="'views/switch/datapath.html'"></ng-include>
        </tab>
        <tab heading="Ports">
          <ng-include ng-controller="SwitchPortsCtrl"
                      src="'views/switch/ports.html'"></ng-include>
        </tab>
        <tab heading="Groups">
          <ng-include ng-controller="SwitchGroupsCtrl"
                      src="'views/switch/groups.html'"></ng-include>
        </tab>
        <tab heading="Tables">
          <ng-include ng-controller="SwitchTablesCtrl"
                      src="'views/switch/tables.html'"></ng-include>
        </tab>
        <tab heading="Meters">
          <ng-include ng-controller="SwitchMetersCtrl"
                      src="'views/switch/meters.html'"></ng-include>
        </tab>
      </tabset>
    </div>

  </div>

</div>

