
<div class="modal-header">
  <h3 class="modal-title">Instruction Capabilities</h3>
</div>

<div class="modal-body">

  <div class="row">
  <div class="col-md-2">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="instruction.apply">
        Apply
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="instruction.clear">
        Clear
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="instruction.write">
        Write
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="instruction.metadata">
        Metadata
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="instruction.meter">
        Meter
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="instruction.goto_">
        Goto
      </label>
    </div>
  </div>
  
  <div class="col-md-3">
    <h4>Apply</h4>
    <div class="panel panel-default" ng-show="instruction.apply">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">
          Ethernet
        </h3>
      </div>
      <!-- Table -->
      <div class="list-group">
        <div class="list-group-item">
          Src
          <span class="glyphicon glyphicon-pencil pull-right"></span>
        </div>
        <div class="list-group-item">
          Dst 
          <span class="glyphicon glyphicon-pencil pull-right"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <h4>Write</h4>
    <accordion>
      <accordion-group heading="Ethernet">
        <div class="list-group" style="width:100%;">
          <a href="" class="list-group-item">
            Src write
            <span class="glyphicon glyphicon-pencil pull-right"></span>
          </a>
          <a href="" class="list-group-item">
            Dst write
            <span class="glyphicon glyphicon-pencil pull-right"></span>
          </a>
        </div>
      </accordion-group>
      <accordion-group heading="MPLS">
        <div class="list-group">
          <a href="" class="list-group-item">
            Label write
            <span class="glyphicon glyphicon-pencil pull-right"></span>
          </a>
          <a href="" class="list-group-item">
            Label push
            <span class="glyphicon glyphicon-plus pull-right"></span>
          </a>
          <a href="" class="list-group-item">
            Label pop
            <span class="glyphicon glyphicon-minus pull-right"></span>
          </a>
        </div>
      </accordion-group>
      <accordion-group heading="ARP">
      </accordion-group>
    </accordion>
  </div>

  <div class="col-md-3">
    <h4>Goto</h4>
    <div class="panel panel-default" ng-show="instruction.goto_">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h3 class="panel-title">
          Goto
        </h3>
      </div>
      <!-- Table -->
    </div>
  </div>

  <!--
  <accordion>
      <div class="col-md-3">
        <accordion-group heading="Apply">
          <table class="table table-striped">
            <tr><td>Output</td></tr>
            <tr><td>Group</td></tr>
            <tr><td>Ethernet.src=</td></tr>
            <tr><td>Ethernet.dst=</td></tr>
            <tr><td>Ethernet.typelen=</td></tr>
          </table>
        </accordion-group>
      </div>
      <div class="col-md-3">
        <accordion-group heading="Write">
          Write restrictions
        </accordion-group>
      </div>
      <div class="col-md-3">
        <accordion-group heading="Goto">
          Table restrictions
        </accordion-group>
      </div>
  </accordion>
  -->

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
  <button class="btn btn-primary"
    ng-click="cancel()">Cancel</button>
</div>
