
<div class="modal-header">
  <h3 class="modal-title">Instruction Capabilities</h3>
</div>

<div class="modal-body">

  <accordion>
    <accordion-group heading="Apply">
      Apply restrictions
    </accordion-group>
    <accordion-group heading="Clear">
      Clear restrictions
    </accordion-group>
    <accordion-group heading="Write">
      Write restrictions
    </accordion-group>
    <accordion-group heading="Metadata">
      metadata restrctions
    </accordion-group>
    <accordion-group heading="Meter">
      Meter restrictions
    </accordion-group>
    <accordion-group heading="Goto">
      Table restrictions
    </accordion-group>
  </accordion>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
  <button class="btn btn-primary"
    ng-click="cancel()">Cancel</button>
</div>
