
<div class="modal-header">
  <h3 class="modal-title">Match Capabilities</h3>
</div>
<div class="modal-body">

  <table class="table table-striped">
    <thead>
      <th>Protocol</th>
      <th>Field</th>
      <th>Enabled</th>
      <th>Wildcard</th>
      <th>Maskable</th>
      <th>Mask</th>
    </thead>
    <tbody>
      <tr ng-repeat="m in match.fields">
        <td>{{m.protocol}}</td>
        <td><div tooltip="{{tips[m.key]}}">{{m.field}}</div></td>
        <td><input type="checkbox" ng-model="m.enabled"></td>
        <td><input type="checkbox" ng-model="m.wildcardable" 
                   ng-disabled="!m.enabled"></td>
        <td><input type="checkbox" ng-model="m.maskable"
                   ng-disabled="!m.enabled"></td>
        <td>
          <div ng-class="{'has-error': !tests[m.key](m.mask)}">
          <input class="form-control" type="text" ng-model="m.mask"
                 style="width:150px" ng-disabled="!m.maskable ||!m.enabled">
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
  <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>

