
<div class="row" ng-controller="fgSubscriberCtrl">
  <div class="col-md-6 col-md-offset-3">

    <div ng-hide="success || failure">
     <h1>New User Registration</h1>
      Welcome to Flowgrammable's OpenFlow switch simulator. We're excited to 
      share our latest work with you; however, before you get started you must 
      have an account on our system. Please choose an email and password to 
      create your account.

      <hr>

      <form name="regForm" novalidate role="form">
        <div class="form-group">
          <label for="emailAddr">Email Address</label>
          <input name="emailAddr" type="email" class="form-control" 
            id="emailAddr" placeholder="Enter email" ng-model="emailAddr" 
            required>
          <div class="error" ng-show="emailError">
            <span>{{emailMsg}}</span>
          </div>
        </div>
      <div class="form-group">
        <label for="pwd1">Password</label>
        <input name="pwd1" type="password" class="form-control" id="pwd1" 
          placeholder="Password" ng-model="pwd1" required>
        <div class="error" ng-show="pwd1Error">
          <span>{{pwd1Msg}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd2">Retype Password</label>
        <input name="pwd2" type="password" class="form-control" id="pwd2" 
           placeholder="Retype Password" ng-model="pwd2" required>
        <div class="error" ng-show="pwd2Error">
          <span>{{pwd2Msg}}</span>
        </div>
      </div>
      <a href="" class="btn btn-default" ng-click="register()">Register</a>
      </form>
    </div>

    <div ng-show="success">
      <h1>Verification Step</h1>
      An email has been sent to your email account. You must click on the link
      enclosed in that email to complete the verification process.
    </div>
    
    <div ng-show="failure">
      <h1>There is a great disturbance in the force!</h1>
      We are experiencing technical difficulties, please come back and try
      registering in a bit. Thanks!
    </div>

  </div>
</div>
