<html>
  <title>
    Thank you for signing up for Flowsim
  </title>
  <body>
    Thank you for signing up for Flowsim.
    <br/>
    Click the link below to confirm your account:
    <br/><br/>
    <a href="<%= baseUrl %>/#/verify/<%= token %>">
      Complete Verification
    </a>
    <br/><br/>
    <h1>The Flowsim Team!</h1>
  </body>
</html>
